<nav>
  <div class="container">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Express Parts</a>
      <ul id="nav-mobile" class="right hide-on-small-and-down">      
        {{#if isHome}}
        <li class="active"><a href="/">Home page</a></li>
        {{else}}
        <li><a href="/">Home page</a></li>
        {{/if}}

        {{#if isPosts}}
        <li class="active"><a href="/parts">Parts</a></li>
        {{else}}
        <li><a href="/parts">Parts</a></li>
        {{/if}}        
      </ul>
    </div>
  </div>
</nav>