<div class="row mt-70">
  <div class="card grey lighten-5">
    <div class="card-content black-text">
      <span class="card-title">{{chapter.title}}</span>
      <p>{{chapter.name}}</p>
        {{#if chapter.sections.length}}
            {{#each chapter.section}}
                <div class="card grey lighten-5">
                    <div class="card-content black-text">
                        <span class="card-title">{{title}}</span>
                        <p>{{text}}</p>
                    </div>
                </div>
            {{/each}}
        {{/if}}
    </div>
    <div class="card-action">
      <a href="/parts">To all parts</a>
    </div>
  </div>
</div>